.container
{
  width:980px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000099;
   color: white;
   text-align: center;
}

.footer-sitemap{
  list-style-type: none;
  float: left;
}
